.header {
  padding: 30px 50px;
  width: 100%;
  position: sticky;
  top: 100px;
  z-index: 1000;
  outline: 3px solid red;
}

.header_title {
  font-size: 20px;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

/* SP */
@media (max-width: 767px) {
  .header {
    padding: 30px 20px;
  }
}
