.news {
  margin-top: 90px;
}

.news_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
}

.news_base {
  background-color: #fff;
  color: black;
  padding: 80px;
  border-radius: 10px;
}

.news_image {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.news_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.title {
  margin-top: 20px;
}

.news_category {
  display: flex;
}

.body {
  margin-top: 20px;
}

.body p:empty {
  min-height: 1em;
  display: block;
}

@media screen and (max-width: 767px) {
  .news_base {
    padding: 50px;
  }
}
