.aboutme {
  margin-top: 90px;
}

.text {
  padding: 100px;
  text-align: center;
}

.aboutme_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.skills {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  padding: 80px;
}

.skills h3 {
  font-size: 50px;
  margin-bottom: 30px;
}

.skills dt {
  font-size: 50px;
  font-weight: bold;
}

.skills dd {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 30px;
}

.skill_section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: #000 1px solid;
}

/* スマホ用 */
@media screen and (max-width: 767px) {
  .skills {
    padding: 60px 35px;
  }
}
