.menu_button {
  display: none; /* デフォルトでは非表示 */
}

.menu_nav ul {
  display: flex;
  gap: 20px;
}

/* スマホ用 */
@media screen and (max-width: 767px) {
  .menu_button span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  /* アクティブ状態 */
  .menu_button.active {
    transform: rotate(360deg);
  }
  .menu_button.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .menu_button.active span:nth-of-type(2) {
    transform: translateY(-10px) rotate(45deg);
  }
  .menu_button.active span:nth-of-type(3) {
    opacity: 0;
  }

  .menu_nav {
    display: none;
  }

  .menu_nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 50px 20px;
    z-index: 100; /* ボタンより下 */
  }

  .menu_nav.open ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
  }

  .menu_button {
    width: 40px;
    height: 40px;
    gap: 8px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999 !important; /* navより前面に */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
