.fv {
  display: grid;
  align-items: center;
  min-height: 100svh;
  position: relative; /* ← 必須 */
  overflow: hidden; /* ← 必須 */
}

.fv .fv_content {
  position: relative;
}

.fv .bgVideo {
  position: absolute;
  inset: 0; /* top:10px はやめる */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* -99 は不要 */
  pointer-events: none; /* タップ阻害防止 */
}

.fv .fv_title {
  font-size: 100px;
}

.fv .fv_lead {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 35px;
  left: 80%;
  font-weight: bold;
  font-size: 25px;
}

/* concept */
.concept {
  padding-top: 150px;
}

.concept_content {
  display: flex;
  gap: 15%;
}

/* aboutme */
.aboutme {
  padding-top: 150px;
}

.aboutme_content {
  display: flex;
  gap: 15%;
}

/* service */
.service {
  padding-top: 150px;
}

.service_list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  row-gap: 80px;
}

.service_list li p {
  margin-top: 30px;
}

/* SP */
@media (max-width: 767px) {
  /* fv */
  .fv .fv_title {
    font-size: 85px;
  }

  .fv .fv_lead {
    font-size: 20px;
    top: -115px;
  }

  .fv .bgVideo {
    width: 100%;
  }

  /* concept */
  .concept_content {
    flex-direction: column;
    gap: 50px;
  }

  /* aboutme */
  .aboutme_content {
    flex-direction: column-reverse;
    gap: 50px;
  }

  /* service */
  .service_list {
    justify-content: center;
  }
}
