/* .news_list {
  margin-top: 30px;
} */

.news_list li {
  display: flex;
}

.news_list li + li {
  margin-top: 30px;
}

.news_link {
  display: flex;
  gap: 20px;
}

.news_image {
  position: relative;
  width: 168px;
  height: 100px;
}

.news_wrapper dd + dd {
  margin-top: 5px;
}

.news_wrapper dd > span {
  display: flex;
  gap: 15px;
}

.news_category {
  color: black;
}

/* SP */
@media (max-width: 767px) {
  .news_base {
    padding: 50px;
  }

  .news_link {
    display: flex;
    flex-direction: column;
  }

  .news_list li + li {
    margin-top: 20px;
  }

  .news_image {
    width: 100%;
  }
}
