.news_list li {
  display: flex;
}

.news_link {
  display: flex;
  gap: 20px;
}

.news_item {
  border-bottom: 1px #000 solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news_item:first-of-type {
  padding-top: 0;
}

.news_item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.news_image {
  position: relative;
  width: 168px;
  height: 100px;
}

.news_wrapper dd + dd {
  margin-top: 5px;
}

.news_wrapper dd > span {
  display: flex;
  gap: 15px;
}

.news_category {
  color: black;
}

/* SP */
@media (max-width: 767px) {
  .news_base {
    padding: 50px;
  }

  .news_link {
    display: flex;
    flex-direction: column;
  }

  .news_list li + li {
    margin-top: 20px;
  }

  .news_image {
    width: 100%;
  }

  .news_wrapper dd > span {
    flex-direction: column;
    gap: 0px;
  }
}
