.news {
  padding-top: 150px;
}

.news_base {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px;
  color: black;
}

.news_title {
  font-size: 60px;
}

.news_list {
  margin-top: 30px;
}

.news_list li {
  display: flex;
}

.news_link {
  display: flex;
}

.news_image {
  position: relative;
  width: 168px;
  height: 100px;
}

.news_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.news_category {
  background-color: var(--color-gray);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news_wrapper dd + dd {
  margin-top: 5px;
}

/* SP */
@media (max-width: 767px) {
  .news_base {
    padding: 40px 45px;
  }

  .news_link {
    display: flex;
    flex-direction: column;
  }

  .news_list li + li {
    margin-top: 20px;
  }

  .news_image {
    width: 100%;
  }
}
