.news {
  margin-top: 90px;
}

.news_item > a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
}

.news_list {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 80px;
}

.news_image {
  width: 168px;
  height: 100px;
}

.news_wrapper dd + dd {
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .news_item > a {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }

  .news_list {
    padding: 50px;
  }
}
