.works {
  margin-top: 90px;
}

.text {
  padding: 100px;
  text-align: center;
}

.works_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
}

.news_list {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 80px;
  .works_item > a {
    display: flex;
    align-items: center;
  }

  .works_item:nth-child(even) > a {
    flex-direction: row-reverse;
  }
}

.works__item-detail {
  margin: 0 5%;
}

/* スマホ用 */
@media screen and (max-width: 767px) {
  .news_list {
    padding: 60px 35px;
    .works_item > a {
      display: flex;
      align-items: flex-start;
      flex-direction: column !important;
    }
    .works_item {
      width: 70vw;
      .works_image {
        width: 70vw;
      }
    }
  }
}
