.works {
  margin-top: 90px;
}

.works_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
}

.works__item-subtitle {
  color: var(--color-gray2);
  margin-top: 5px;
}

.works_base {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 80px;
}

.works_image {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.works_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.body {
  margin-top: 20px;
}

.body p:empty {
  min-height: 1em;
  display: block;
}
@media screen and (max-width: 767px) {
  .works_base {
    padding: 50px;
  }
}
