.works {
  margin-top: 90px;
}

.works_title {
  text-align: center;
  font-size: 65px;
  margin-bottom: 100px;
}

.works_base {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 80px;
}

.works_image {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.works_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
